<section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Welcome, <%= current_user.email =%></h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Ever struggle to locate your professor? You're savior has arrived! Our one-touch web application will allow users to track their participating professor. The professor simply swtiches on the "Find Me" and students will now be able to see a dropped pin using Google Maps.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/users/sign_up">Get Started!</a>
          </div>
        </div>
      </div>
    </section>