<section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Welcome, <%= current_user.email =%></h2>
            <hr class="light my-4">
            

    <title>Dashboard</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="vEXmTQ6i9gdkYOArZhqTijDnwjBASeM+I2XwJSHxzO8kQ1QK2Htksw1J8j8Tu+9q+ShPGoelWmP7QgomeIKXTA==" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <script>
  setTimeout("$('.message').fadeOut('slow')", 200);

  </script>


    
    <h1>DASHBOARD</h1>
<center>
<div style="width:200px;height:200px;">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://image.flaticon.com/icons/png/512/446/446804.png">
      </div>
      <div class="content">
        <a href = "/cohorts" class="header">Cohorts</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>


  <div style="width:200px;height:200px;">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlr-Vit8kyBt5IMebWgUe6myqHyo-eBgVYzcjBezJdlOJIY9nX">
      </div>
      <div class="content">
        <a href = "/teachers" class="header">Teachers</a>
      </div>
    </div>
  </div>
  <br><br><br>


<div style="width:200px;height:200px;">
    <div class="ui fluid card">
      <div class="image">
        <img src="https://rensderooij.nl/wp-content/uploads/2017/12/Groen-schoolplein-Hoveniersbedrijf-Rens-de-Rooij-Draagt-bij-aan-de-ontwikkeling-van-het-kind.png">
      </div>
      <div class="content">
        <a href = "/students" class="header">Students</a>
      </div>
    </div>
  </div>





          </div>
        </div>
      </div>
    </section>